html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: "Source Sans 3", sans-serif;
    overflow-x: hidden;
}

/* Typography */

h1 {
    font-size: 2.1rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0;
    margin: 0.4em auto;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

footer p {
    font-size: 1rem;
    margin: 0 auto;
}

.hidden {
    display: none;
}

img {
    width: 90%;
    height: auto;
    border-radius: 0.3em;
    padding: 0;
    margin: 0;
}

.hero-text h2{
    font-size: 1rem;
}

/* Index.html Page */
/* Navbar Section */

nav {
    height: 2em;
    padding-bottom: 1em;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 90%;
    padding: 0.5em 0;
}

.nav-wrapper:first-child {
    margin-right: auto;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0.4em;
}

.logo {
    width: 1.9em;
}

.logo-container span {
    font-size: 0.9rem;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}

.nav-wrapper:last-child {
    margin-left: auto;
    align-items: center;
}

ul,
a {
    list-style: none;
    text-decoration: none;
    color: #090909;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    margin: 0;
}

li {
    display: inline-block;
    margin: 0 1em;
    padding: 5px 10px;
    border-radius: 0.3em;
}

li:hover {
    background-color: #edede9;
}

/* index.html */
/* Header Section */

.header {
    background: #adb5bd url("/images/article-image-hero.png") no-repeat center center;
    color: #FFFFFF;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-top: 2em;
    min-height: 50vh;
    height: auto;
}

.header h1,
.header p {
    width: 90%;
    max-width: 600px;
}

.header-text {
    margin: auto auto 0 0;
    padding: 1em;
}

.header h1 {
    margin: 0.5em auto 0 auto;
    padding-top: 2em;
}

.header p {
    margin: 0 auto 1em auto;
}

/* index.html */
/* Main Content */

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    margin: auto;
}

.blog img {
    max-width: 85%;
    height: auto;
    margin: 2em auto;
    padding: 0;
}

.blog h2,
.blog p {
    text-align: left;
    max-width: 85%;
    margin: 0 auto;
}

.blog {
    padding: 0;
    margin: 0;
}

.content-img {
    border-radius: 0.3em;
}

.view-more {
    padding: 0;
    margin: 1.5em auto;
    text-decoration: underline 1px solid #000000;
    font-weight: 600;
    cursor: pointer;
    max-width: 100px;
}

.view-more-btn {
    background-color: transparent;
    border: none;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
    margin: 0.8em auto;
    font-size: 1rem;
}

.view-more-btn:hover {
    color: #8d99ae;
}

/* Footer Section */
.footer-wrapper {
    background-color: #202020;
    color: #ECECEC;
    padding: 1.3em;
    margin-top: 1.3em;
    width: 100%;
    height: auto;
}

/* home.html */
/* Hero Section */

.home-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 1em;
    margin: 0 auto;
}

.home-text {
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
}

.hero-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    width: 100%;
    max-width: 950px;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 1em;
    margin: 0 auto 2em auto;
    
}

.hero-text {
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
}

/* Tablets */
@media (min-width: 600px) {

    .logo-container .sub-header {
        font-size: 1.1rem;
    }

    ul,
    a {
        font-size: 0.7rem;
    }

    .header {
        height: 450px;
        padding-top: 0;
    }

    .header h1,
    .header p {
        max-width: 700px;
    }

    .header-text {
        padding: 2em;
    }

    .header h1 {
        font-size: 2.3rem;
    }

    .header p {
        font-size: 1rem;
    }

    .main-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        max-width: 100%;
        margin: auto;
        gap: 1.5em;
    }
}

/* Laptops */
@media (min-width: 768px) {

    .logo-container .sub-header {
        font-size: 1.2rem;
    }

    ul,
    a {
        font-size: 0.8rem;
    }

    .header {
        height: 550px;
        padding-top: 0;
    }

    .header h1,
    .header p {
        max-width: 750px;
    }

    .header-text {
        padding: 2.5em;
    }

    .header h1 {
        font-size: 2.5rem;
    }

    .header p {
        font-size: 1.2rem;
    }

    .main-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        max-width: 100%;
        margin: auto;
        gap: 1.5em;
    }
}

/* Desktops */
@media (min-width: 1024px) {

    .logo-container .sub-header {
        font-size: 1.3rem;
    }

    ul,
    a {
        font-size: 0.9rem;
    }

    .header {
        height: 650px;
        padding-top: 0;
    }

    .header h1,
    .header p {
        max-width: 800px;
    }

    .header-text {
        padding: 2.7em;
    }

    .header h1 {
        font-size: 2.7rem;
    }

    .header p {
        font-size: 1.4rem;
    }

    .main-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        max-width: 100%;
        margin: auto;
        gap: 1.7em;
    }
}

/* Big Destops */
@media (min-width: 1200px) {

    .logo-container .sub-header {
        font-size: 1.4rem;
    }

    ul,
    a {
        font-size: 1rem;
    }

    .header {
        height: 700px;
        padding-top: 0;
    }

    .header h1,
    .header p {
        max-width: 900px;
    }

    .header-text {
        padding: 2.9em;
        width: auto;
    }

    .header h1 {
        font-size: 2.9rem;
    }

    .header p {
        font-size: 1.2rem;
    }

    .main-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        max-width: 100%;
        margin: auto;
        gap: 2em;
    }

    .home-text h1 {
        font-size: 2.9rem;
    }

    .home-text p {
        font-size: 1.2rem;
    }

    .home-text {
        max-width: 800px;
    }

    .hero-text h2 {
        font-size: 1.7rem;
    }

    .hero-text p {
        font-size: 1.2rem;
    }

    .hero-text {
        max-width: 800px;
    }

    .hero-image-container {
        max-width: 1100px;
    }
}